@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(243 244 246);
}

.btn {
  background-color: #222831;
}

.btn:hover {
  background-color: #31363f;
}

.link {
  color: #0274be;
}
